{% extends 'DomainsBundle::layout.html.twig' %}

{% block introHeader %}
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                        {{ form_start(UploadFileForm) }}
                        {{ form_widget(UploadFileForm) }}
                        {{ form_end(UploadFileForm) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}